/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* ROOT */
:root {
  --color-primary: #4caf50;
  --color-secondary: #addaaf;
  --color-background: #204a22;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
}

::-webkit-scrollbar {
  display: none;
}

.body-h::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 38%;
  width: 55%;
  height: 50%;
  background: radial-gradient(
    circle at top center,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(27, 94, 32, 0) 80%
  );
  opacity: 0.7;
  border-radius: 50%;
  z-index: -1;
  filter: blur(10px);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* NAVBAR */

.navbar {
  padding: 10px 20px;
  position: relative;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 15px auto;
}

.navbar-logo {
  color: #fff;
  text-decoration: none;
  font-size: 2.5em;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  margin: 10px 20px;
  padding-bottom: 5px;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 5px solid #4caf4f00;
}

.navbar a:hover {
  border-bottom: 2px solid var(--color-primary);
}
.navbar a.active {
  border-bottom: 2px solid var(--color-primary);
  font-weight: 600;
}

/* Hero Section */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 30px;
  max-width: 1400px;
  color: #fff;
  align-items: flex-start;
}

.hero-section .container {
  display: flex;
}

/* Bagian Kiri */
.left-b {
  flex: 1;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.left-b h1 {
  font-size: 5.5em;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-right: 100px;
  font-weight: 400;
}

.glass-button {
  position: relative;
  display: inline-block;
  padding: 15px 40px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

/* Top left light gradient */
.glass-button::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 70px;
  height: 70px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  border-radius: 50%;
}

/* Bottom right light gradient */
.glass-button::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 100px;
  height: 100px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  border-radius: 50%;
}

.glass-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

/* Content needs to stay above the gradients */
.button-content {
  position: relative;
  z-index: 2;
}

/* Bagian Tengah */
.center {
  flex: 1;
  text-align: center;
  position: relative;
}

.hero-image {
  max-width: 650px;
  height: auto;
  border-radius: 10px;
  position: relative; /* Menambahkan posisi relatif untuk gambar */
  z-index: 2; /* Memastikan gambar berada di atas shadow */
  bottom: 20px; /* Memindahkan gambar sedikit ke bawah */
}
.b-hero-image {
  max-width: 550px;
  height: auto;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  bottom: 30px;
}

.shadow {
  position: absolute;
  bottom: -10px; /* Menempatkan shadow di bawah gambar */
  left: 50%;
  transform: translateX(-50%);
  width: 100%; /* Lebar shadow */
  height: 156px; /* Tinggi shadow */
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.7;
  border-radius: 50%;
  z-index: -1;
  filter: blur(10px);
}

.btn-group {
  position: absolute;
  height: 430px;
  justify-content: space-between;
  top: 17%; /* Menempatkan tombol di tengah gambar */
  left: 20%;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Jarak antar tombol */
  z-index: 2;
}

.btn {
  position: relative;
  display: flex;
  justify-content: between;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  filter: blur(4px);
  border: none;
  border-radius: 100px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s;
  width: max-content;
}

.btn p {
  font-size: 18px;
  padding: 0 15px;
}

.btn img {
  width: 48px;
  height: 48px;
  opacity: 1 !important;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.recycle {
  left: 180%;
}

.trash {
  border-radius: 50%;
  /* top: ; */
}

.leaf {
  left: 180%;
}

/* Bagian Kanan */
.right {
  flex: 1;
  text-align: center;
  display: block;
  border-radius: 50%;
  margin: auto;
}

/* Lingkaran */
.circle-container {
  display: flex;
  width: 300px;
  height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-image: linear-gradient(
    to bottom,
    white,
    var(--color-background),
    var(--color-background),
    white
  );
}

.circle {
  width: 99.5%;
  height: 99.5%;
  padding: 0px 50px;
  background-color: var(--color-background);
  border-radius: inherit;
}

.circle-image {
  width: 180px;
  height: 180px;
  margin-top: 20px;
}

/* Belajar - Trash Care Section */
.trash-care-section {
  background-color: #204a22;
  color: white;
  padding: 100px 20px;
  text-align: center;
}

.trash-care-section .section-subtitle {
  width: 1100px;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.trash-care-section .section-title {
  font-size: 3.5em;
  font-weight: 500;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.trash-care-section .card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.trash-care-section .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border: 2px solid rgba(255, 255, 255, 0.23);
  background: rgba(255, 255, 255, 0.08);
  border-radius: 24px;
  width: 100%;
  cursor: pointer;
}

.trash-care-section .card img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.trash-care-section .card-content {
  display: flex;
  flex-direction: column;
}

.ddown {
  transition: transform 0.3s ease;
}

.trash-care-section .accordion-content {
  max-height: 0;
  overflow: hidden;
  margin-top: 12px;
  font-size: 16px;
  text-align: left;
  transition: max-height 0.4s ease-out, padding 0.3s ease-out;
}

.trash-care-section .card.active .accordion-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

.trash-care-section .accordion-title {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
}

/* Belajar - trash recycle Section */
.trash-recycle-section {
  background-color: #204a22;
  color: white;
  padding: 100px 20px;
  text-align: center;
}

.trash-recycle-section .section-subtitle {
  width: 1100px;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.trash-recycle-section .section-title {
  font-size: 3.5em;
  font-weight: 500;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.trash-recycle-section .card-container {
  display: flex;
  gap: 20px;
  /* flex-wrap: ; */
  justify-content: center;
  align-items: center;
  align-content: center;
}

.trash-recycle-section .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px solid rgba(255, 255, 255, 0.23);
  background: rgba(255, 255, 255, 0.05);
  border-radius: 24px;
  width: 100%;
  height: 400px;
  transition: background 0.4s ease-in-out, transform 0.3s ease-in-out;
}

.trash-recycle-section .card:hover {
  background: radial-gradient(
    circle at bottom,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.05)
  ) !important;
  transform: translateY(-10px) !important;
}
.trash-recycle-section .card img {
  width: 200px;
  height: 200px;
  margin-right: 10px; 
}

.trash-recycle-section .card h4 {
  font-size: 32px;
  font-weight: 500;
  margin-top: 20px;
  text-align: center; 
}

.trash-recycle-section .card p {
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}
/* Belajar - trash eco Section */
.trash-eco-section {
  background-color: #204a22;
  color: white;
  padding: 100px 20px;
  text-align: center;
}

.trash-eco-section .section-subtitle {
  width: 1100px;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.trash-eco-section .section-title {
  font-size: 3.5em;
  font-weight: 500;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.trash-eco-section .card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.trash-eco-section .card {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  border: 2px solid rgba(255, 255, 255, 0.23);
  background: rgba(255, 255, 255, 0.08);
  border-radius: 24px;
  width: 80%;
  height: auto;
}

.trash-eco-section .content .card h4 {
  font-size: 24px;
  font-weight: 500;
  margin-top: auto;
  text-align: left;
}
.trash-eco-section .content .card {
  margin: 0px 30px 30px 30px;
}
.rec {
  width: 550px;
}
/* Belajar - trash agen Section */
.trash-agen-section {
  background-color: #204a22;
  color: white;
  padding: 80px 20px;
  text-align: center;
}

.trash-agen-section .section-subtitle {
  width: 1000px;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.trash-agen-section .section-title {
  font-size: 3.5em;
  font-weight: 500;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.trash-agen-section button {
  margin-top: 30px;
}

.footer {
  background-color: var(--color-background);
  color: white;
  padding: 30px 50px;
  position: relative;
  z-index: -1;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 4%;
  width: 92%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5); /* Garis putih transparan */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: auto auto auto auto;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}
.footer-section.brand {
  font-size: 24px;
}
.footer-section h2,
.footer-section h3 {
  margin-bottom: 10px;
  font-weight: 500;
}
.footer-section.links {
  gap: 50px;
}
.footer-section.contact {
  gap: 50px;
  margin-right: 30px;
}
.footer-section p {
  margin: 0 0 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons img {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .carousel-slide {
    flex: 0 0 260px;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    width: 100%;
    max-width: 400px;
  }

  .footer-section.links,
  .footer-section.contact {
    gap: 20px;
    margin-right: 0;
  }

  .social-icons {
    flex-wrap: wrap;
    justify-content: center;
  }
}
