/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* ROOT */
:root {
  --color-primary: #4caf50;
  --color-secondary: #addaaf;
  --color-background: #204a22;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-h {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  z-index: -1;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* NAVBAR */
.navbar {
  padding: 10px 20px;
  position: relative;
  z-index: 4;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 15px auto;
}

.navbar-logo {
  color: #fff;
  text-decoration: none;
  font-size: 2.5em;
  transition: all 03s;
  width: 100px;
  margin: auto;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-link {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin: 10px 20px;
  padding-bottom: 5px;
  transition: all;
  transition-duration: 300ms;
}

.navbar a:hover {
  border-bottom: 2px solid var(--color-primary);
}
.navbar a.active {
  border-bottom: 2px solid var(--color-primary);
  font-weight: 600;
}

.navbar-mobile-toggle {
  display: none;
  background: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.navbar-mobile-toggle img {
  width: 25px;
  height: 25px;
}

/* Hero Section */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 30px;
  max-width: 1400px;
  color: #fff;
  align-items: flex-start;
}

.hero-section .container {
  display: flex;
}

.glass-button {
  position: relative;
  display: inline-block;
  padding: 15px 40px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

/* Top left light gradient */
.glass-button::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 70px;
  height: 70px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  border-radius: 50%;
}

/* Bottom right light gradient */
.glass-button::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 100px;
  height: 100px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  border-radius: 50%;
}

.glass-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.button-content {
  position: relative;
  z-index: 2;
}

.center {
  flex: 1;
  text-align: center;
  position: relative;
}
.pasar-digital-section {
  background-color: #204a22;
  color: white;
  padding: 10px 20px 30px;
  text-align: center;
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 5px;
  flex-wrap: wrap;
}

.filter {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  max-width: 800px;
}

.pd-filter-btn {
  background-color: #204a22;
  color: white;
  padding: 12px 24px;
  font-size: 1em;
  border: 2px solid #ffffff;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
}

.pd-filter-btn:hover,
.pd-filter-btn.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #204a22;
}
.pasar-digital-section .section-title {
  font-size: 2.5em;
  font-weight: 500;
  width: 300px;
  text-align: left;
  margin: 0;
}

.pasar-digital-section .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: stretch; /* Meregangkan semua item ke tinggi maksimum di baris */
}

.pasar-digital-section .card {
  display: flex;
  flex-direction: column;
  height: 100%; /* Menggunakan tinggi 100% */
  padding: 15px;
  border: 2px solid rgba(255, 255, 255, 0.23);
  background: rgba(255, 255, 255, 0.05);
  border-radius: 24px;
  transition: background 0.4s ease-in-out, transform 0.3s ease-in-out,
    box-shadow 0.3s ease;
  cursor: pointer;
}

.pasar-digital-section .card:hover {
  background: radial-gradient(
    circle at bottom,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.05)
  );
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Memastikan gambar memiliki rasio aspek yang konsisten */
.pasar-digital-section .card img {
  width: 100%;
  height: 200px; /* Menetapkan tinggi tetap untuk gambar */
  object-fit: contain; /* Mempertahankan rasio aspek gambar */
  margin-bottom: 10px;
  border-radius: 12px;
}

/* Konten kartu mengambil ruang yang tersisa dengan flexbox */
.pasar-digital-section .card .card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Mengambil ruang yang tersisa di kartu */
  justify-content: space-between; /* Mendorong harga ke bagian bawah */
}

.pasar-digital-section .card h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0 5px 0;
  text-align: left;
  color: #fff;
}

.pasar-digital-section .card p {
  font-size: 22px;
  margin-top: auto; /* Mendorong harga ke bagian bawah */
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  padding-top: 10px;
}

.popup-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 0px;
  text-align: left;
  width: 700px;
  height: max-content;
  position: relative;
  color: black;
  z-index: 5;
}
.popup-image-container {
  position: relative;
  overflow: hidden;
  border-radius: 40px;
}
.popup-content img {
  width: 100%;
  height: 400px;
  border-radius: 0px;
  transition: transform 0.3s ease-in-out;
}
/* .popup-image-container:hover .popup-image {
  transform: scale(1.2);
  transition: transform 0.5s all;
} */

.popup-content h4 {
  margin: 10px 0;
  font-size: 32px;
  font-weight: 500;
  color: #4caf50;
}
.popup-content .currency {
  font-size: 24px;
}

.popup-content p {
  margin: 5px 0;
  font-size: 16px;
}
#popup-name {
  font-size: 26px;
  font-weight: 500;
}
.buy-now-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  width: 100%;
  background-color: #204a22;
  color: white;
  font-size: 16px;
  text-decoration: none;
  border-radius: 50px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.buy-now-btn:hover {
  background-color: #b6d7a8;
  color: #204a22;
}

/* FOOTER */
.footer {
  background-color: var(--color-background);
  color: white;
  margin-top: 70px;
  padding: 30px 70px;
}

.footer-container {
  border-top: 3px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
}

.footer-section {
  margin-top: 48px;
}

.footer-section.brand {
  font-size: 2.5em;
  color: white;
}

.footer-section h2,
.footer-section h3 {
  margin-bottom: 10px;
  font-weight: 500;
  color: white;
}

.footer-section h3 {
  font-size: 22px;
}

.footer-section.links {
  gap: 50px;
}

.footer-section.contact {
  gap: 50px;
}

.footer-section p {
  margin: 0 0 10px;
  color: white;
  font-size: 16px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.social-icons img {
  width: 22px;
  height: 22px;
}

@media (max-width: 1500px) {
  .footer {
    background-color: var(--color-background);
    color: white;
    margin-top: 70px;
    padding: 30px 20px;
  }

  .pasar-digital-section .card-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 1024px) {
  .footer-section.brand {
    font-size: 1.5em;
    color: white;
  }

  .footer-section h3 {
    font-size: 20px;
  }

  .footer-section p {
    font-size: 14px;
  }
}

@media (max-width: 835px) {
  .navbar {
    margin-left: 0;
  }
  .navbar-link {
    font-size: 0.75em;
  }

  /* FOOTER */
  .footer-container {
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  .footer-section.brand {
    font-size: 24px;
    color: white;
  }
  .navbar-container {
    align-items: flex-start;
  }

  .filter {
    flex-wrap: nowrap; /* Mencegah wrapping di mobile */
    height: 50px;
    width: max-content;
    overflow-x: auto;
    text-wrap: nowrap;
}

@media (max-width: 768px) {
  .pasar-digital-section .card-container {
    text-align: center;
    grid-template-columns: repeat(
      auto-fill,
      minmax(150px, 1fr)
    ); /* Mengurangi lebar minimum kartu */
    gap: 10px; /* Mengurangi jarak antar kartu */
  }

  .pasar-digital-section .card {
    padding: 10px; /* Mengurangi padding */
    border-radius: 16px; /* Mengurangi border-radius */
  }
}

/* New mobile styles for 576px and below with smooth animations */
@media (max-width: 576px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-mobile-toggle {
    display: block;
    position: absolute;
    top: 26px;
    right: 20px;
    transition: transform 0.3s ease;
  }

  .navbar-mobile-toggle.active {
    transform: rotate(90deg);
  }

  .navbar-menu {
    display: block;
    flex-direction: column;

    margin-top: 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    opacity: 0;
  }

  .navbar-menu.active {
    max-height: 300px;
    opacity: 1;
  }

  .navbar-menu li {
    transform: translateY(-20px);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
    transition-delay: 0.05s;
  }

  .navbar-menu.active li {
    transform: translateY(0);
    opacity: 1;
  }

  .navbar-menu.active li:nth-child(1) {
    transition-delay: 0.1s;
  }
  .navbar-menu.active li:nth-child(2) {
    transition-delay: 0.2s;
  }
  .navbar-menu.active li:nth-child(3) {
    transition-delay: 0.3s;
  }
  .navbar-menu.active li:nth-child(4) {
    transition-delay: 0.4s;
  }

  .navbar-link {
    padding: 10px 0;
    margin: 5px 0;
    font-size: 1em;
    width: 100%;
    display: block;
  }

  .pasar-digital-section .card {
    width: 100%;
  }

  .pasar-digital-section .card-container {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

  .pasar-digital-section .card img {
    height: 150px;
  }

  .pasar-digital-section .card h4 {
    font-size: 16px;
  }

  .pasar-digital-section .card p {
    font-size: 18px;
  }
}
